# ENV
APP_ENV=local

# POSTGRES
POSTGRES_DB=quakke_video_local
POSTGRES_USER=quakke
POSTGRES_PASSWORD=quakke-local
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@127.0.0.1:POSTGRES_PORT/POSTGRES_DB
POSTGRES_PORT=5432

# AUTH
JWT_ACCESS_SECRET=ACCESS_SECRET
JWT_REFRESH_SECRET=REFRESH_SECRET

JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000

AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax

# REDIS
REDIS_PASSWORD=quakke-local
REDIS_PORT=6379

# RABBITMQ
RABBITMQ_USER=quakke
RABBITMQ_PASSWORD=quakke-local
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MINIO/S3
MINIO_ROOT_USER=quakke
MINIO_ROOT_PASSWORD=quakke-local
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
