PROD_WEB_DOMAIN=quakke-video.ru
PROD_STUDIO_DOMAIN=studio.quakke-video.ru
PROD_ADMIN_DOMAIN=admin.quakke-video.ru
PROD_API_DOMAIN=api.quakke-video.ru
PROD_RABBIT_DOMAIN=rabbit.quakke-video.ru

STAGE_WEB_DOMAIN=quakke-video-stage.tech
STAGE_STUDIO_DOMAIN=studio.quakke-video-stage.tech
STAGE_ADMIN_DOMAIN=admin.quakke-video-stage.tech
STAGE_API_DOMAIN=api.quakke-video-stage.tech
STAGE_RABBIT_DOMAIN=rabbit.quakke-video-stage.tech

TLS_CERTIFICATE_NAME=quakke-video
TLS_ROOT=/etc/letsencrypt
ACME_WEBROOT=/var/www/certbot
EDGE_AUTH_DIR=/opt/quakke-video/edge/auth

NGINX_MEMORY_LIMIT=128m
NGINX_CPU_LIMIT=0.5
